*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'JetBrains Mono Variable', monospace;
    font-size: 14px;
    line-height: 1.5;
    background-color: #1a1a1a;
    color: #eee;
}

button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border: none;
    background: none;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--color-primary);
    }
}